@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root{
    --cor_primaria:#000;
    --cor_secundaria:#F6F6F6;
    --cor_terciaria:#22D4FD;
    --cor_hover: #272727;

    --font_primaria:"Montserrat", sans-serif;
    --font_secundaria:"Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font_primaria);
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}


.apresentacao {
    padding: 6% 15% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#F6F6F6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
}

.apresentacao__links__link:hover{
    background-color: #272727;
}

.apresentacao__imagem{
    width: 490px;
    height: 550px;
    border-radius: 16px;
}

.rodape{
    display: flex;
    justify-content: center;
    padding: 2% 0.5% 1% 2%;
    color: #000000;
    background-color: #22D4FD;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

